/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
  }

  /*---- apply a natural box layout model to all elements -------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body{
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColor;
    background-color: $secondaryColor;
  }

  
  header {
    background-color: rgba($primaryColor, 20%);
    display: flex;
    align-items: flex-end;
    padding: 1rem $gutter;
    gap: 8px;
    a {
        color: $tertiaryColor;
        text-decoration: none;
        padding: 0;
        font-weight: $lightWeight;
        h2 {
          margin-left: 1rem;
          padding: 0;
        }
    }
 
  }

//navigation
#primaryNav {
  margin-top: 0;
}
 
//rows and columns
.row {
  display: flex;
  flex-wrap: wrap;
  
  margin: 1rem 0;
  padding: 0 8px;

}
.column {
  padding: 0 8px;
  margin: 8px 0;
}
//create for loop
@for $i from 1 through 12 {
  $w: calc($i /12) *100%;
  .small-#{$i} {flex-basis: $w}
}
 
.line, .round, .shadow {
  padding: 8px 8px;
}
.line {
  border: 1px $tertiaryColor solid;
}
.round {
  border-radius: 10px;
}
.fill {
  background-color: #eee;
}
.shadow {
  box-shadow: 0 0 10px #dcdcdc;
}
  //main stuff
  main {
    background-color: $secondaryColor;
    padding: 0;
    margin: 0;
  }
  main img {
    width: 100%;
    height: auto;
  }
  #mainWrapper {
    //display: flex;
    margin: 0;
    padding: 0;
  
  h1 {
    margin: 1rem;
    color: $tertiaryColor;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0.25rem;
    color: $secondaryColor;
    font-weight: $lightWeight;
  }
  h2 {
    color: $primaryColor;
    margin-left: 2rem;
  }
  }
  
  //swiper
  .swiper, .swiper img {
    width: 100%;
    height: auto;
  }

  .swiper-wrapper {
    position: absolute;
  }
  .overlay {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.4);
    padding: 0.5rem 3rem;
    border-radius: 10px;
    z-index: 999;
    h3 {
      font-size: 1.5rem;
      font-weight: $normalWeight;
      text-shadow: 0 0 2px black
    }
  }
  

//masks
div.parent {
  display: grid;
  section {
    position: relative;
    padding: 7px;
    img{
      width: 100%;
      height: auto;
      display: block;
    }
    img:last-child {
      position: absolute;
      bottom: 0;
    }
  }
}



//reviews paths
 div.reviews-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  section {
    padding: 7px;
    img {
      width: 100%;
      height: auto;
      clip-path: circle(50% at 50% 50%)
    }
  }
 }
 

  // begin footer
#footerWrapper {
    background-color: $primaryColor;
}
footer {
    padding: 0.5rem $gutter;
    background-color: $primaryColor;
    text-align: center;
    color: white;
}