$primaryColor: #43734a;
$secondaryColor: #fff;
$tertiaryColor: #534238;
$fontColor: #000000;
$menuColor: #0f6628;

$defaultFont: 'Oswald', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 8px;