$primaryColor: #ffffff;
$secondaryColor: #ffffff;
$tertiaryColor: rgb(225, 48, 48);
$fontColor: #000000;

$defaultFont: 'Oswald', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 8px;