$primaryColor: #ded4cb;
$secondaryColor: #ffffff;
$tertiaryColor: #c0873e;
$fontColor: #000000;

$defaultFont: 'Oswald', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 16px;