$primaryColor: #0071BC;
$secondaryColor: #fff;
$tertiaryColor: #1B1464;
$fontColor: #000000;

$defaultFont: 'Oswald', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 8px;