$primaryColor: #0070a4;
$secondaryColor: #ffffff;
$tertiaryColor: #032064;
$fontColor: #000000;
$textColor: $fontColor;

$defaultFont: 'Oswald', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 8px;